.about-us {
    text-align: center;
    border-radius: 10px;
    color: rgba(254, 252, 247, 1);
    margin: 2.5rem 1.5rem 0;
    display: grid;
    // this makes the bg-img and text to overlap
    .bg-img, 
    .text {
        grid-area: 1/2;
    }
    // has h1 and p elemts - makes sure they are styled correctly
    .text {
        padding: 6.25rem 1.5rem;
    }

    img {
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
    }
    h1 {
        font-size: 1.75rem;
        font-weight: 900;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: .938rem;
        line-height: 160%;
        font-weight: 300;
    }
}

.commitment {
    margin: 6rem 1.5rem;
    text-align: center;
    color: rgba(51, 61, 75, 1);
    .text {
        margin-top: 2rem;
    }
    h2 {
        font-weight: 900;
        font-size: 2rem;
        margin-bottom: 1.875rem;
    }
    p {
        line-height: 160%;
        font-size: .938rem;
    }
    img {
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
    }
}

.quality {
    display: grid;
    margin-top: 10rem;
    // makes sure that the text and the img overlap
    .qa-text, 
    .coffee-img {
        grid-area: 1/-1;
    }
}

// styling for the img at the top of the quality card
.coffee-img {
    margin: -4.5rem 3rem 0;
    z-index: 1;
    img {
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
    }
}


.qa-text {
    // contains the bg and the text
    // makes sure that they overlap
    // text on top of the bg img
    display: grid;
    color: rgba(254, 252, 247, 1);
    text-align: center;
    .text {
        margin: 8rem 1.5rem 0;
        padding: 0 1.5rem;
    }

    .bg, 
    .text {
        // makes the bg img and text overlap - same grid spot
        grid-area: 1/-1;
    }

    h2 {
        font-weight: 900;
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: .938rem;
        line-height: 160%;
        font-weight: 300;
    }

    img {
        border-radius: 10px;
    }
}

.hq {
    margin: 6rem 1.5rem 0;
    text-align: center;
    h3 {
        color: rgba(131, 136, 143, 1);
        font-weight: 900;
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.75rem;
        color: rgba(51, 61, 75, 1);
        font-weight: 900;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .countries {
        // grid so they can later be changed for vertical or horizontal placements
        margin-top: 4rem;
        display: grid;
        row-gap: 4rem;
    }
    // sstyling for postal code - street, etc
    .detail{
        display: block;
        margin-bottom: .5rem;
        font-size: 1rem;
        color: rgba(51, 61, 75, 1);
    }
}

@media screen and (min-width: 768px) {
    .about-us {
        background: url("/assets/about/tablet/image-hero-whitecup.jpg");
        background-size: cover;
        text-align: left;
        padding: 7.55rem 3rem;
        margin: 2.5rem 2.5rem 0;

        h1 {
            font-size: 2rem;
        }

        p {
            width: 70%;
        }
    }

    .commitment {
        margin: 6rem 2.5rem;
        text-align: left;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 3rem;
        img {
            width: 88%;
        }
        .text {
            margin-top: 1rem;
        }
    }

    .quality {
        margin-top: 18rem;
        .quality-coffee {
            margin: -9.5rem 6rem 0;
        }
    }

    .qa {
        .text {
            margin: 14rem 2.5rem 0;
            padding: 0 4.8rem;
        }
        .bg {
            margin: 0 2.5rem;
        }

        h2 {
            font-size: 2rem;
        }
    }

    .hq {
        text-align: left;
        margin: 6rem 2.5rem 0;

        h4 {
            font-size: 1.5rem;
        }

        .countries {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            margin-top: 4.5rem;
        }
    }
}