@mixin createBtn {
    background-color: rgba(14, 135, 132, 1);
    font-weight: 900;
    font-family: "Fraunces", serif;
    font-size: 1.125rem;
    padding: 1rem;
    width: 78%;
    margin: 2rem auto 0;
    border-radius: 6px;
    text-align: center;
    a, a:visited {
        text-decoration: none;
        color: rgba(254, 252, 247, 1);
    }
}

