@use 'variables';
@use 'fonts';

* {
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Barlow", sans-serif;
    background-color: rgba(254, 253, 247, 1);
    margin-top: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Fraunces", serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 2rem 1.5rem;
    .menu-toggle-btn {
        margin-left: auto;
        #close-btn {
            display: none;
        }
    }
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    background: linear-gradient(rgba(254, 252, 247, 1), rgba(254, 252, 247, .8));
    // display: grid;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s;
    .nav {
        display: grid;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 1.5rem;
        font-weight: 900;
        row-gap: 2rem;
        position: relative;
        top: 5%;
        width: 100%;
        a, a:visited {
            text-decoration: none;
            color: rgba(51, 61, 75, 1);
        }
    }
}

.ad {
    margin: 2.5rem 1.5rem 1rem;
    border-radius: 10px;
    padding: 6rem 1.5rem;
    background-image: url('/assets/home/mobile/image-hero-coffeepress.jpg');
    text-align: center;
    color: rgba(254, 252, 247, 1);
    h1 {
        font-weight: 900;
        font-size: 2.5rem;
    }
    p {
        font-size: .938rem;
        font-weight: 200;
        line-height: 150%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

}

.create-plan-btn {
    @include variables.createBtn
}
.collection {
    text-align: center;
    .h2 {
        display: grid;
        padding: .9rem 0;
        &:after {
            content: "";
            background-image: linear-gradient(rgba(254, 252, 247, 0.0001), rgba(254, 252, 247, 1));
            grid-area: 1/-1;
        }
    }

    .coffees {
        display: grid;
        row-gap: 4rem;
        margin-top: 2rem;
        margin-bottom: 4rem;
    }
    h2 {
        text-transform: lowercase;
        grid-area: 1/-1;
        color: rgba(131, 136, 143, 1);
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 110%;
    }

    h3 {
        font-weight: 900;
        font-size: 1.5rem;
        color: rgba(51, 61, 75, 1);
        line-height: 140%;
    }

    p {
        color: rgba(51, 61, 75, 1);
        font-size: .938rem;
        line-height: 150%;
        width: 75%;
        margin: 0 auto;
    }

    img {
        width: 55%;
    }
}

.why-us {
    color: rgba(254, 252, 247, 1);
    text-align: center;
    line-height: 170%;
    margin: 0 1.5rem;
    border-radius: 10px;

    .benefits-listed {
        display: grid;
        row-gap: 1rem;
        margin: 0 1.5rem;
        margin-top: 20rem;
    }
    
    .benefits-bg img {
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
    }
    .benefits-listed img {
        margin-top: 2.125rem;
        margin-bottom: 1rem;
    }
    
    .best-quality,
    .exclusive-benefits,
    .free-shipping {
        background-color: rgba(14, 135, 132, 1);
        padding: 2rem 1rem;
        border-radius: 8px;
        p {
            width: 80%;
            margin: 1.5rem auto;
        }
    }
    
    .free-shipping h3{
        margin-top: 3.379rem;
    }

    p {
        font-size: .938rem;
        font-weight: 300;
    }
    
    h2 {
        font-size: 1.75rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }
    
    h3 {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}

.ad-text {
    // background-color: rgba(44, 52, 62, 1);
    padding: 4rem 1.5rem;
    border-radius: 10px 10px 0 0;
    z-index: 1;
}

.benefits {
    border-radius: 10px;
    display: grid;
    .benefits-bg, 
    .benefits-listed, .ad-text {
        grid-area: 1/2;
    }
}

.how {
    text-align: center;
    margin: 6rem 1.5rem 0;
    display: grid;
    row-gap: 3rem;
    h2 {
        font-size: 1.5rem;
        color: rgba(131, 136, 143, 1);
        margin: 1rem;
    }

    .step {
        h3 {
            color: rgba(51, 61, 75, 1);
            font-size: 1.75rem;
            margin: 1.5rem 0;
        }
        p {
            color: rgba(51, 61, 75, 1);
            font-size: .938rem;
            line-height: 160%;
            width: 95%;
        }
    }
    
    .step-number {
        color: rgba(253, 214, 186, 1);
        font-size: 4.5rem;
        font-family: "Fraunces", serif;
        font-weight: 900;
    }
    .step3 p{
        width: 96%;
    }


    .create-plan-btn {
        @include variables.createBtn;
    }
}

.footer {
    text-align: center;
    background-color: rgba(44, 52, 62, 1);
    margin: 8rem 1.5rem 6rem;
    padding-top: 3rem;
    padding-bottom: 3rem;
    .nav {
        margin-top: 3.25rem;
        display: grid;
        row-gap: 1.5rem;
        a, a:visited {
            color: rgba(131, 136, 143, 1);
            text-decoration: none;
            text-transform: uppercase;
            font-weight: 700;
            letter-spacing: .92px;
            font-size: .75rem;
        }
    }

    .social {
        align-items: center;
        margin-top: 3.25rem;
        * {
            display: inline-block;
            margin-left: .35rem;
            margin-right: .35rem;
        }
    }
}

.about-us {
    background: url("/assets/about/mobile/image-hero-whitecup.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    border-radius: 10px;
    color: rgba(254, 252, 247, 1);
    margin: 2.5rem 1.5rem 0;
    padding: 6.25rem 1.5rem;
    display: grid;
    h1 {
        font-size: 1.75rem;
        font-weight: 900;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: .938rem;
        line-height: 160%;
        font-weight: 300;
    }
}

.commitment {
    margin: 6rem 1.5rem;
    text-align: center;
    color: rgba(51, 61, 75, 1);
    .text {
        margin-top: 2rem;
    }
    h2 {
        font-weight: 900;
        font-size: 2rem;
        margin-bottom: 1.875rem;
    }
    p {
        line-height: 160%;
        font-size: .938rem;
    }
    img {
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
    }
}

.quality {
    display: grid;
    margin-top: 10rem;
    .quality-coffee {
        margin: -4.5rem 3rem 0;
        z-index: 1;
        img {
            box-sizing: border-box;
            width: 100%;
            border-radius: 10px;
        }
    }
    .qa, .quality-coffee {
        grid-area: 1/-1;
    }
}


.qa {
    display: grid;
    color: rgba(254, 252, 247, 1);
    text-align: center;
    .text {
        margin: 8rem 1.5rem 0;
        padding: 0 1.5rem;
    }

    h2 {
        font-weight: 900;
        font-size: 1.75rem;
        margin-bottom: 1.5rem;
    }
    p {
        font-size: .938rem;
        line-height: 160%;
        font-weight: 300;
    }

    img {
        border-radius: 10px;
    }

    .bg, 
    .text {
        grid-area: 1/-1;
    }
}

.hq {
    margin: 6rem 1.5rem 0;
    text-align: center;
    h3 {
        color: rgba(131, 136, 143, 1);
        font-weight: 900;
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.75rem;
        color: rgba(51, 61, 75, 1);
        font-weight: 900;
        margin-top: 3rem;
        margin-bottom: 2rem;
    }
    .countries {
        margin-top: 4rem;
        display: grid;
        row-gap: 4rem;
    }
    .street, 
    .city, 
    .postal, 
    .number {
        display: block;
        margin-bottom: .5rem;
        font-size: 1rem;
        color: rgba(51, 61, 75, 1);
    }
}

.create-plan {
    margin: 2.5rem 1.5rem;
    background-image: url('/assets/plan/mobile/image-hero-blackcup.jpg');
    background-size: cover;
    text-align: center;
    color: rgba(254, 252, 247, 1);
    padding: 6rem 1.5rem 9rem;
    border-radius: 10px;
    h1 {
        font-size: 2.5rem;
        font-weight: 900;
        margin-bottom: 1.25rem;
    }
    p {
        font-weight: 300;
        font-size: .938rem;
        line-height: 160%;
    }
}

.steps {
    background: rgba(44, 52, 62, 1);
    color: rgba(255, 255, 255, 1);
    text-align: center;
    padding: 5rem 1.25rem;
    display: grid;
    row-gap: 3rem;
    .step-number {
        color: rgba(253, 214, 186, 1);
        font-weight: 900;
        font-size: 4.5rem;
        font-family: "Fraunces", serif;
        display: block;
        margin-bottom: 1.5rem;
    }

    h3 {
        font-size: 1.75rem;
        font-weight: 900;
        margin-bottom: 1.5rem;
    }
    p {
        line-height: 170%;
        font-weight: 300;
        font-size: .938rem;
    }
}

.how-drink, 
.quantity, 
.type, 
.grind, 
.frequency {
    margin: 6rem 1.5rem;
    .heading {
        display: grid;
        grid-template-columns: 2fr 1fr;
        align-items: center;
        margin-bottom: 2rem;
        img {
            margin-left: auto;
            // transform: rotate(180deg);
        }
    }
    h4 {
        color: rgba(131, 136, 143, 1);
        font-weight: 900;
        font-size: 1.5rem;
    }

    h5 {
        font-size: 1.5rem;
        color: rgba(51, 61, 75, 1);
        font-weight: 900;
        margin-bottom: .5rem;
    }
    p {
        font-weight: 400;
        color: rgba(51, 61, 75, 1);
        line-height: 160%;
        font-size: 1rem;
    }
}

.options {
    display: none;
    row-gap: 1rem;
}

.form-control {
    background-color: rgba(244, 241, 235, 1);
    padding: 1.65rem 1.5rem;
    border-radius: 8px;
    display: grid;
    input, h5 {
        grid-area: 1/-1;
    }
}

input[type="radio"] {
    appearance: none;
    -webkit-appearance: none;
    width: 1.25rem;
    height: 1.25rem;
}



.summary {
    margin: 6rem 1.5rem 0;
    padding: 1.5rem;
    background-color: rgba(44, 52, 62, 1);
    color: rgba(255, 255, 255, 1);
    border-radius: 8px;
    #order-summary-header {
        text-transform: uppercase;
        font-size: 1rem;
        font-weight: 300;
        display: block;
        margin-bottom: .5rem;
    }
    p {
        font-family: "Fraunces", serif;
        font-size: 1.5rem;
        font-weight: 900;
        line-height: 165%;
    }

    .opt-tkn {
        color: rgba(14, 135, 132, 1);
        text-transform: capitalize;
    }
}
.summary-div .create-plan-btn {
    width: 60%;
}

.order-summary {
    position: fixed;
    // display: none;
    top: 0;
    left: 0;
    z-index: 1;
    border: none;
    margin: 1.5rem;
    border-radius: 8px;
    padding: 0;
    background: rgba(254, 252, 247, 1);
    padding-bottom: 2rem;
    .summary-header {
        background: rgba(51, 61, 75, 1);
        padding: 1.5rem;

    }

    h6 {
        color: rgba(255, 255, 255, 1);
        font-size: 1.75rem;
        font-weight: 900;
    }

    span.summary-order {
        color: rgba(131, 136, 143, 1);
        font-size: 1.5rem;
        font-family: "Fraunces", serif;
        font-weight: 900;
        display: block;
        line-height: 180%;
    }

    .opt-tkn {
        color: rgba(14, 135, 132, 1);
        text-transform: capitalize;
    }

    p {
        padding: 1.5rem;
        line-height: 165%;
        color: rgba(51, 61, 75, 1);
        // margin-top: 1.5rem;
    }

    .create-plan-btn {
        margin: 0 auto;
    }
}

.checked {
    @include variables.checkedOptions;
}

.hiddenToggle {
  @include variables.displayOptions;
}

.disabled {
    h4 {
        color: rgba(131, 136, 143, 1) !important;
    }

    h5, p {
        color: rgba(254, 252, 247, 1);
    }

    .form-control {
        background: rgba(226, 222, 219, 1);
    }
}