@use 'variables';
@use 'fonts';
@use 'about';
@use 'plan';

* {
    margin: 0;
    box-sizing: border-box;
}

.tablet, .desktop {
    display: none;
}

body {
    font-family: "Barlow", sans-serif;
    background-color: rgba(254, 253, 247, 1);
    margin-top: 2rem;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Fraunces", serif;
}

.header {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin: 2rem 1.5rem;
    .menu-toggle-btn {
        margin-left: auto;
        #close-btn {
            display: none;
        }
    }
}

.overlay {
    height: 100%;
    width: 0%;
    position: fixed;
    background: linear-gradient(rgba(254, 252, 247, 1), rgba(254, 252, 247, .8));
    // display: grid;
    z-index: 1;
    overflow-x: hidden;
    transition: .5s;
    .nav {
        display: grid;
        text-align: center;
        font-family: "Fraunces", serif;
        font-size: 1.5rem;
        font-weight: 900;
        row-gap: 2rem;
        position: relative;
        top: 5%;
        width: 100%;
        a, a:visited {
            text-decoration: none;
            color: rgba(51, 61, 75, 1);
        }
    }
}

.ad {
    margin: 2.5rem 1.5rem 1rem;
    border-radius: 10px;
    padding: 6rem 1.5rem;
    background-image: url(/assets/home/mobile/image-hero-coffeepress.jpg);
    // background-image: url('/assets/home/mobile/image-hero-coffeepress.jpg');
    text-align: center;
    color: rgba(254, 252, 247, 1);
    h1 {
        font-weight: 900;
        font-size: 2.5rem;
    }
    p {
        font-size: .938rem;
        font-weight: 200;
        line-height: 150%;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

}

.create-plan-btn {
    @include variables.createBtn
}
.collection {
    text-align: center;
    margin-bottom: 4rem;
    .h2 {
        display: grid;
        padding: .9rem 0;
        &:after {
            content: "";
            background-image: linear-gradient(rgba(254, 252, 247, 0.0001), rgba(254, 252, 247, 1));
            grid-area: 1/-1;
        }
    }

    .coffees {
        display: grid;
        row-gap: 4rem;
        margin-top: 2rem;
    }
    .text {
        margin-top: 1rem;
    }
    h2 {
        text-transform: lowercase;
        grid-area: 1/-1;
        color: rgba(131, 136, 143, 1);
        font-weight: 900;
        font-size: 2.5rem;
        line-height: 110%;
    }

    h3 {
        font-weight: 900;
        font-size: 1.5rem;
        color: rgba(51, 61, 75, 1);
        line-height: 140%;
        margin-bottom: 1rem;
    }

    p {
        color: rgba(51, 61, 75, 1);
        font-size: .938rem;
        line-height: 150%;
        width: 75%;
        margin: 0 auto;
    }

    img {
        width: 55%;
    }
}

.why-us {
    color: rgba(254, 252, 247, 1);
    text-align: center;
    line-height: 170%;
    margin: 0 1.5rem;
    border-radius: 10px;

    .benefits-listed {
        display: grid;
        row-gap: 1rem;
        margin: 0 1.5rem;
        margin-top: 20rem;
    }
    
    .benefits-bg img {
        box-sizing: border-box;
        width: 100%;
        border-radius: 10px;
    }
    .benefits-listed img {
        margin-top: 2.125rem;
        margin-bottom: 1rem;
    }
    
    .best-quality,
    .exclusive-benefits,
    .free-shipping {
        background-color: rgba(14, 135, 132, 1);
        padding: 2rem 1rem;
        border-radius: 8px;
        p {
            width: 80%;
            margin: 1.5rem auto;
        }
    }
    
    .free-shipping h3{
        margin-top: 3.379rem;
    }

    p {
        font-size: .938rem;
        font-weight: 300;
    }
    
    h2 {
        font-size: 1.75rem;
        font-weight: 900;
        margin-bottom: 2rem;
    }
    
    h3 {
        margin-top: 2rem;
        font-size: 1.5rem;
    }
}

.ad-text {
    // background-color: rgba(44, 52, 62, 1);
    padding: 4rem 1.5rem;
    border-radius: 10px 10px 0 0;
    z-index: 1;
}

.benefits {
    border-radius: 10px;
    display: grid;
    .benefits-bg, 
    .benefits-listed, .ad-text {
        grid-area: 1/2;
    }
}

.how {
    text-align: center;
    margin: 6rem 1.5rem 0;
    display: grid;
    row-gap: 3rem;
    h2 {
        font-size: 1.5rem;
        color: rgba(131, 136, 143, 1);
        margin: 1rem;
    }

    .step {
        h3 {
            color: rgba(51, 61, 75, 1);
            font-size: 1.75rem;
            margin: 1.5rem 0;
        }
        p {
            color: rgba(51, 61, 75, 1);
            font-size: .938rem;
            line-height: 160%;
            width: 95%;
        }
    }
    
    .step-number {
        color: rgba(253, 214, 186, 1);
        font-size: 4.5rem;
        font-family: "Fraunces", serif;
        font-weight: 900;
    }
    .step3 p{
        width: 96%;
    }


    .create-plan-btn {
        @include variables.createBtn;
    }
}

.footer {
    @include variables.footerDesign
}

@media screen and (min-width: 768px) {
    .mobile {
        display: none
    }

    .tablet {
        display: block;
    }

    .header {
        margin: 2rem 2.5rem;
    }

    .nav-bar {
        display: grid;
        grid-template-columns: repeat(3, auto);
        column-gap: 1.5rem;
        a:visited, a {
            color: rgba(131, 136, 143, 1);
            text-transform: uppercase;
            text-decoration: none;
            font-size: .75rem;
            font-weight: 700;
            letter-spacing: .92px
        }
    }

    .ad {
        margin: 2.5rem 2.5rem 1rem;
        background-image: url('/assets/home/tablet/image-hero-coffeepress.jpg');
        background-size: cover;
        text-align: left;
        padding: 6rem 3.5rem;
        .text {
            width: 70%;
        }

        h1 {
            font-size: 3rem;
        }
        p {
            line-height: 160%;
        }
    }

    .collection {
        margin: 6rem 2.5rem;
        margin-top: 4rem;
        text-align: center;

        .coffees {
            padding: 0 3rem;
            text-align: left;
            margin-top: -3.5rem;
            row-gap: 3rem;
        }
        .coffee {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            column-gap: 2.25rem;
            .text {
                margin-top: 1rem;
            }
        }

        h2 {
            font-size: 6rem
        }

        p {
            margin: 1.5rem 0 0;
            width: 95%;
            line-height: 165%
        }

        img {
            margin-left: auto;
            width: 80%;
        }
    }

    .why-us {
        margin: 0 2.5rem;

        .benefits-listed {
            margin: 0 3.5rem;
            margin-top: 17rem;
            row-gap: 1.5rem;
        }
        .best-quality,
        .exclusive-benefits,
        .free-shipping {
            text-align: left;
            display: grid;
            grid-template-columns: repeat(2, auto);
            column-gap: 3.438rem;
            padding: 1.6rem 3.5rem;
            p {
                width: 100%;
            }
        }
        h2 {
            font-size: 2rem
        }

        h3 {
            margin-top: 0;
        }

        p {
            width: 75%;
            margin: 0 auto;
        }
    }

    .how {
        text-align: left;
        margin: 6rem 2.5rem 0;
        display: block;

        h2 {
            margin: 0 0 2rem 0;
        }
        .info {
            margin-top: 2rem;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            // column-gap: .75rem;
        }

        .step1 {
            h3 {
                width: 95%;
            }

            p {
                width: 90%;
            }
        }

        .step3 p  {
            width: 90%;
        }

        .create-plan-btn {
            width: 31.6%;
        }
    }
}

@media screen and (min-width: 1440px) {
    .tablet {
        display: none;
    }

    .desktop {
        display: grid;
    }

    .header {
        margin: 3rem 5rem;
    }

    .ad {
        margin: 0rem 5rem 1rem;
        background-image: url('/assets/home/desktop/image-hero-coffeepress.jpg');
        padding: 6.5rem 5rem;
        .text {
            width: 45%;
        }

        h1 {
            font-size: 4.5rem;
            line-height: 100%;
        }

        p {
            font-size: 1rem;
            width: 80%;
        }

        .create-plan-btn {
            width: 44%;
        }
    }

    .collection {
        margin: 10rem 10rem;

        .coffees {
            grid-template-columns: repeat(4, 1fr);
            padding: 0 2.5rem;
            text-align: center;
        }

        .coffee {
            grid-template-columns: repeat(1, auto);
        }

        h2 {
            font-size: 9.375rem;
        }

        p {
            font-size: 1rem;
        }

        img {
            width: 90%;
        }
    }

    .why-us {
        margin: 0 5rem;

        .benefits-listed {
            grid-template-columns: repeat(3, 1fr);
            margin: 0 4.35rem;
            margin-top: 28rem;
            column-gap: 1.5rem;
        }

        .best-quality,
        .exclusive-benefits,
        .free-shipping {
            grid-template-columns: repeat(1, auto);
            text-align: center;
            padding: 2.75rem 3rem 2rem;

            img {
                margin: 0 auto;
                align-self: center;
            }
        }

        .free-shipping {
            img {
                margin-top: 2.5rem;
                .text {
                    margin-top: 0;
                }
            }
        }
        h2 {
            font-size: 2.5rem;
        }

        p {
            font-size: 1rem;
            width: 43%;
        }

        .text {
            margin-top: 3rem
        }
    }

    .ad-text {
        padding: 6rem 1.5rem;
    }

    .how {
        margin: 8rem 9rem 0;

        h2 {
            margin: 0 0 5rem 0;
        }

        .info {
            margin-top: 3rem;
        }

        .step {
            h3 {
                font-size: 2rem
            }
            p {
                font-size: 1rem
            }
        }
    }
}

.checked {
    @include variables.checkedOptions;
}

.hiddenToggle {
  @include variables.displayOptions;
}

.disabled {
    @include variables.disabledOptions;
}